body {
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 1px solid black;
}

.controls {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    width: 360px;
}

legend {
    background-color: #dddddd;
    margin: 4px;
    padding: 4px 8px;
}

label {
    display: inline-block;
    width: 10em;
    text-align: right;
    margin-right: 0.5em;
    vertical-align: middle;
}

input {
    display: inline-block;
    width: 10em;
    vertical-align: middle;
    text-align: left;
}

input[type=checkbox] {
    width: auto;
}